body {
  font-family: "Roboto";
  font-style: normal;
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}
.border-box {
  background-color: #ffffff;
}
.logo-first {
  color: #4d5ae5;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}
.logo-second {
  color: #2e2f42;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.hero-first {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
}
.header-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header-link:hover {
  color: #404bbf;
}
.header-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.header-address:hover {
  color: #404bbf;
}
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.hero-button:hover {
  background-color: #404bbf;
}
.title-benefits {
  color: transparent;
}
.heading-benefits {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.text-benefits {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.title-doing {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.team {
  background-color: #f4f4fd;
}
.box-team {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.title-team {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.heading-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.text-team {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text-footer {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.logo-lower {
  color: #f4f4fd;
}
.hero-portfolio {
  color: transparent;
}
.button-portfolio {
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.box-portfolio {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
}
